.contentDiv {
    overflow: hidden;
    width: 100%;
    min-width: 310px;
    max-width: 380px;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.contentDiv:hover {
    scale: 1.1;
}

.borderDiv {
    width: 100%;
    border: solid 2px white;
    padding: 75px 50px;
}

.profile {
    position: relative;
    top: 50px
}

.quote {
    font-size: 40px;
    color: #656565;
    padding: 0px 10px;
}

.colleagueName {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #ABABAB;
}

.colleaguePosition {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color: #ABABAB;
}

.dashStyle {
    padding-right: 10px;
    font-size: 18px;
    font-weight: bolder;
    color: #7FBAE9
}